.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.margin-top-lg {
    margin-top: 40px;
}

.margin-top-md {
    margin-top: 20px;
}